{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "importOrder": [
        "^react-native",
        "^react",

        "^themes",
        "^assets",
        "^components",
    
        "^utils",
        "^constants",

        "^types",
        "^[./]"
    ],
    "importOrderSeparation": true
}
