{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "importOrder": [
        "^react",
        "^react-native",

        "^themes",
        "^assets",
        "^components",
        "^utils",

        "^constants",
        "^types",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
